<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>local.sky-service</string>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StartInterval</key>
    <integer>86400</integer>

    <key>ThrottleInterval</key>
    <integer>3</integer>

    <key>StandardErrorPath</key>
    <string>/tmp/sky-service.stderr.log</string>

    <key>StandardOutPath</key>
    <string>/tmp/sky-service.stdout.log</string>

    <key>EnvironmentVariables</key>
    <dict>
      <key>HOME</key>
      <string>{{HOME}}</string>
      <key>EDITOR</key>
      <string>{{EDITOR}}</string>
    </dict>

    <key>Program</key>
    <string>{{SKY_SERVICE_BIN}}</string>
  </dict>
</plist>
