<%
  var articles = _(ctx.outputArticles).groupBy(function(a){ return new Date(a.publishedAt).getFullYear() }) //group by year
  var years = Object.keys(articles).map(function(year) { return ~~year }).sort().reverse()
%>

<% years.forEach(function(year) { %>
  <% var sortedArticles = _(articles[year]).sortBy(function(a) { return -a.publishedAt })%>
  <h3><%= year %></h3>
  <ul>
    <% sortedArticles.forEach(function(article) { %>
      <li>
        <a href="<%= article.relativePath %>"><%= article.title %></a>
      </li>
    <% }) %>
  </ul>
<% }) %>
